#game {
    width: 500px;
    height: 500px;
    margin: auto;
    text-align: center;
}

#board {
    width: 450px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 150px;
    width: 150px;
    border: 1px solid #000;
    box-sizing: border-box;
    font-size: 90px;
}

.btn {
    margin-top: 25px;
    background-color: #fff;
    border: 3px solid #000;
    font-size: 23px;
}